@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Mynerve&family=Permanent+Marker&family=Rock+Salt&family=Satisfy&family=Vina+Sans&display=swap');

/* font-family: 'Covered By Your Grace', cursive;
font-family: 'Mynerve', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Vina Sans', cursive; */

:root {
  font-family: 'Rock Salt', cursive;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

/* for header buttons */

.navButton {
  color: var(--white);
  text-decoration: none;
  margin: 0em 1rem .5em 3rem;
  float: right;
  font-size: 22px;
}

/* specials section */

.specials > div > img {
  display: flex;
  flex-direction: row;
  max-width: 500px;
  max-height: 100%;
  border: 1px solid red;
  margin: 0 5rem 0 5rem;
  float: left;
}

.specials {
  display: flex;
  flex-direction: row;
  border: 1px solid blue;
}

.specials-text-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 100%;
  border: 1px purple solid;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
}

.specials-text-container > h1 {
  transform: rotate(-8deg)
}

.specials-text-price > h2 {
  transform: rotate(-8deg)
}

/* about section */

.about {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.about-txt {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px red solid;
  margin: 10rem;
  width: 50%;
}

.about-img {
  display: flex;
  border: 3px purple solid;
  width: 50%;
}

.about-img > img {
  max-height: 800px;
  max-width: 650px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 3px;
  
}

/* come down & metallica logo */

.come-down {
  display: flex;
  flex-direction: column;
  column-count: 1;
  border: 1px green solid;
  width: 100;
  justify-content: center;
  align-items: center;
}

.come-down-content > img {
  margin: 2rem 2rem 0 4.5rem;
  border: 1px red solid;
}

.come-down-content > h1 {
  border: 1px blue solid;
}

/* large collages */

.large-collage {
  width: 100%;
  margin: 0 auto;
}

.large-collage > img {
  max-width: 100%;
}

/* footer */

.footer {
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid red;
  height: 180px;
  font-size: .75rem;
  /* position: absolute;
  bottom: 0 auto;
  width: 100%; */
}

.footer-column {
  float: left;
  width: 33.33%;
}

.footer-column > p {
  margin-top: -18px;
}

.footer:after {
  content: "";
  display: table;
  clear: both;
}

/* privacy policy && copyright */

.privacy {

}

/* collages */

.collage-container {
  display: flex;
  flex-direction: row;
  border: 1px blue solid;
  /* margin: 0 0 .5rem 15rem; */
  width: 100%;
  height: 100%;
}

.collage > img {
  max-width: 25rem;
  height: 35rem;
  max-height: 35rem;
  margin: 1rem 0 1rem 5rem;
  transition: all 300ms ease-out;
}

.collage > img:hover {
  transition: all 300ms ease-in-out;
  transform: scale(1.05);
  opacity: 1;
  border-radius: 2px;
}

.collage-1 {
  float: left;
  width: 33.33%;
}

.collage-2 {
  width: 33.33%;
  margin: 0 auto;
}

.collage-3 {
  width: 33.33%;
  margin: 0 auto;
}
