@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Mynerve&family=Permanent+Marker&family=Rock+Salt&family=Satisfy&family=Vina+Sans&display=swap');

/* font-family: 'Covered By Your Grace', cursive;
font-family: 'Mynerve', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Vina Sans', cursive; */

:root {
  font-family: 'Rock Salt', cursive;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

.navButton {
  color: var(--white);
  text-decoration: none;
  margin: 0em 1rem .5em 3rem;
  float: right;
  font-size: 22px;
}

.specials > div > img {
  display: flex;
  flex-direction: row;
  max-width: 500px;
  max-height: 100%;
  border: 1px solid red;
  margin: 0 auto;
  float: left;
}

.specials {
  display: flex;
  flex-direction: row;
  border: 1px solid blue;
}

.specials-text-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 100%;
  border: 1px purple solid;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
}

/* footer */

.footer {
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid red;
}

.footer-column {
  float: left;
  width: 33.33%;
}

.footer:after {
  content: "";
  display: table;
  clear: both;
}